services:
  # Backend Service
  - type: web
    name: quickqual-api
    env: node
    root: server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 10000

  # Frontend Service
  - type: static
    name: quickqual-web
    env: static
    buildCommand: npm install # Optional if no build step, but good safety
    staticPublishPath: .
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
